.header-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.cart img {
  width: 30px;
  height: 30px;
}
.cart {
  position: relative;
  cursor: pointer;
}
.cart span {
  position: absolute;
  right: 0;
  padding: 1px;
  color: crimson;
  border-radius: 10px;
  background-color: aliceblue;
  display: inline-block;
  top: 0;
}
