.header-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  gap: 10px;
}
/* .cart img {
  width: 30px;
  height: 30px;
}
.cart {
  position: relative;
  cursor: pointer;
}
.cart span {
  position: absolute;
  right: 0;
  padding: 1px;
  color: crimson;
  border-radius: 10px;
  background-color: aliceblue;
  display: inline-block;
  top: 0;
} */
.header-link {
  display: flex;
  gap: 10px;
}
.active {
  color: #ff4757;
  font-weight: bold;
  border-bottom: 2px solid #ff4757;
}
